:root {
    --font-family: "Segoe UI", Calibri, Tahoma, Geneva, Verdana, sans-serif;
    --color-gray: rgb(32, 32, 32);
    --color-purple: hsl(264, 56%, 72%);
    --color-green: #3a7f52;
    --color-teal: #0f7970;
}

* {
    margin: 0;
    color: white;
}

body {
    background: var(--color-gray);
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-size: 1.2rem;
    font-family: var(--font-family);
}

.flex {
    box-sizing: border-box;
    padding: 15px;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.flex-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-textarea {
    font-family: Consolas, monospace;
    font-size: 1.2rem;
    background: transparent;
    color: var(--color-purple);
    outline: none;
}

.input-textarea-invalid {
    background: rgba(255, 0, 0, 0.2);
}

.input-textarea:focus {
    outline: 1px solid rgb(138, 138, 138);
}

.text-column {
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    min-width: 320px;
    width: 100%;
    padding: 10px;
    margin: 0 !important;
}

.column-header {
    margin-bottom: 10px;
}

.button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: var(--color-green);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: var(--font-family);
}

.button[disabled="disabled"] {
    filter: grayscale(100%);
}

.button-cancel {
    background: rgb(120, 120, 120);
}

.settings-button {
    background-color: var(--color-teal);
}

.modal {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-gray);
    border: 1px solid rgb(138, 138, 138);
    padding: 15px;
}

.modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgb(32, 32, 32, 0.5);
    width: 100vw;
    height: 100vh;
}

.modal-hidden {
    display: none;
}

.form-button {
    width: auto;
    min-width: 70px;
}

.settings-list {
    list-style: none;
    margin-bottom: 15px;
    padding: 0;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
