* {
    margin: 0;
    color: white;
}

body {
    background: rgb(32, 32, 32);
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.flex {
    box-sizing: border-box;
    padding: 15px;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.flex-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-textarea {
    background: indigo;
}

.output {
    background: rgb(7, 44, 104);
}

.text-column {
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid white;
    min-width: 320px;
    width: 100%;
    padding: 10px;
}
