* {
    margin: 0;
    color: white;
}

body {
    background: rgb(32, 32, 32);
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Calibri, Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    box-sizing: border-box;
    padding: 15px;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.flex-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-textarea {
    font-family: Consolas, monospace;
    font-size: 1.2rem;
    background: transparent;
    color: hsl(264, 56%, 72%);
    outline: none;
}

.input-textarea:focus {
    outline: 1px solid rgb(138, 138, 138);
}

.text-column {
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    min-width: 320px;
    width: 100%;
    padding: 10px;
}

::-webkit-scrollbar {
width: 10px;
}


::-webkit-scrollbar-track {
background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
background: #888;
}


::-webkit-scrollbar-thumb:hover {
background: #555;
}
